*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0px;
    background-color: #f0f0f0;
    color: #727272;
}
.dashboard{
    padding: 0px 10px;
    margin: 0px auto;
}
/*=================================================
    NAVIGATION
=================================================*/
.dashboard .navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
.dashboard .navigation .material-symbols-outlined{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    color: #727272;
    display: inline-block;
}
.dashboard .navigation div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
/*=================================================
    HEADER 
=================================================*/

.dashboard .main .header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
}
.dashboard .main .header .title{
    font-size: 16px;
    color: #383838;
    margin: 0px;
    padding: 0px;
}
.dashboard .main .header .title h1{
    margin: 0px;
    padding: 0px;
}
.dashboard .main .header .sort{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.dashboard .main .header select{
    border: none;
    margin-top: 3px;
    color: #727272;
    background-color: rgba(0 0 0 / 0);
    font-size: 12px;
}
/*=================================================
    MAIN
=================================================*/
.dashboard .main{
    margin: 30px 10px;
}
.dashboard .main .body{
    margin-top: 50px;
}
.dashboard .main .body .daily-hours-chart{
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
/*=================================================
    FOOTER
=================================================*/
.dashboard .footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.dashboard .footer .update-day{
    border: none;
    font-size: 16px;
    padding: 10px 30px;
    color: #f5f5f5;
    background-color: #727272;
    border-radius: 10px;
}
/*=================================================
    SECONDARY
=================================================*/
.dashboard .secondary{
    margin-top: 20px;
    display: flex;
    margin: 0px;
    padding: 0px;
}
/*=================================================
    MEDIA QUERIES
=================================================*/

@media only screen and (min-width: 1024px){
    .dashboard{
        padding: 0px;
    }
    .dashboard .navigation,
    .dashboard .navigation div,
    section .secondary{
        display: block;
    }
    .dashboard .navigation{
        margin: 0px;
        padding: 20px 0px;
        width: 60px;
        height: 80%;
        position: fixed;
        justify-content: space-between;
        z-index: 10;
        top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: #f9f9f9;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .dashboard .navigation div{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .dashboard .navigation .material-symbols-outlined{
        margin: 10px 0px;
        font-size: 25px;
        color: #727272;
        display: inline-block;
    }
    .dashboard .main{
        margin: 30px 100px 0px 100px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .dashboard .main .header{
        margin: 40px 0px;
    }
    .dashboard .main .header .title{
        font-size: 50px;
        color: #383838;
        margin-left: 50px;
    }
    .dashboard .main .header .sort select{
        font-size: 20px;
    }
    .dashboard .main .body{
        margin-top: 50px;
    }
    .dashboard .main .body .daily-hours-chart{
        padding: 30px;
        border-radius: 30px;
        background-color: #f9f9f9;

    }
    .dashboard .secondary{
        margin: 0px;
        padding: 20px;
        width: 20%;
        height: 80%;
        position: fixed;
        top: 10%;
        right: 0;
        justify-content: flex-start;
        z-index: 10;
        display: flex;
        flex-direction: column;
        background-color: #f9f9f9;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .dashboard .secondary .todo{
        margin-top: 20px;
    }
    .dashboard .secondary .todo h2{
        margin: 0px;
        padding: 0px;
    }
    .dashboard .secondary .todo ul{
        margin-top: 20px;
    }
}